<div class="wrapper">
    <div class="frame">
        <table>
            <tbody>
                <tr>
                    <td colspan="4"><div class="pinkNarrowTitle">Tại sao bạn chọn mua và bán Nhà trên zHouse.com.vn?</div></td>
                </tr>
                <tr>
                    <td>
                        <img src="@Url.Content("~/Themes/Zhouse/Content/images/h1.png")"><br><br>
                        Chỉ bán nhà có sổ hồng
                    </td>
                    <td>
                        <img src="@Url.Content("~/Themes/Zhouse/Content/images/h2.png")"><br><br>
                        Thông tin đa dạng và đầy đủ
                    </td>
                    <td>
                        <img src="@Url.Content("~/Themes/Zhouse/Content/images/h3.png")"><br><br>
                        Đội ngũ chuyên gia
                    </td>
                    <td>
                        <img src="@Url.Content("~/Themes/Zhouse/Content/images/h4.png")"><br><br>
                        Sự tin tưởng
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br>
        <center>
            <input type="button" class="blueBigBtn" value="Tìm kiếm ngôi nhà trong mơ của bạn">
            <br>
            <div class="smallPinkText">Hơn 1.000.000 căn hộ, căn nhà để bạn tìm kiếm và chọn lựa trên zHOUSE.com.vn</div>
        </center>

        <div class="intro">
            <div class="threeCol">
                <div class="whiteBgBig">
                    <ul>
                        <li><a href="#">BĐS tuần 2 tháng 6: Thị trường "nóng" với hàng loạt con số ấn tượng</a></li>
                        <li><a href="#">Lập đoàn kiểm tra việc giải ngân gói hỗ trợ nhà ở 30.000 tỷ</a></li>
                        <li><a href="#">TPHCM sẽ thành lập khu kinh tế đặc biệt </a></li>
                        <li><a href="#">Nóng: Giao dịch BĐS 6 tháng đầu năm 2014 tăng gấp đôi cùng kỳ</a></li>
                    </ul>
                    <div class="nhonDown"></div>
                </div><!---whiteBgBig---->
                <div class="pinkNarrowTitle">Tin tức</div>
            </div><!--threeCol--->

            <div class="threeCol">
                <div class="whiteBgBig">
                    <ul>
                        <li><a href="#">BĐS tuần 2 tháng 6: Thị trường "nóng" với hàng loạt con số ấn tượng</a></li>
                        <li><a href="#">Lập đoàn kiểm tra việc giải ngân gói hỗ trợ nhà ở 30.000 tỷ</a></li>
                        <li><a href="#">TPHCM sẽ thành lập khu kinh tế đặc biệt </a></li>
                        <li><a href="#">Nóng: Giao dịch BĐS 6 tháng đầu năm 2014 tăng gấp đôi cùng kỳ</a></li>
                    </ul>
                    <div class="nhonDown"></div>
                </div><!---whiteBgBig---->
                <div class="pinkNarrowTitle">Kiến thức</div>
            </div><!--threeCol--->


            <div class="threeCol" style="margin: 0;float:right">
                <div class="whiteBgBig">
                    <ul>
                        <li><a href="#">BĐS tuần 2 tháng 6: Thị trường "nóng" với hàng loạt con số ấn tượng</a></li>
                        <li><a href="#">Lập đoàn kiểm tra việc giải ngân gói hỗ trợ nhà ở 30.000 tỷ</a></li>
                        <li><a href="#">TPHCM sẽ thành lập khu kinh tế đặc biệt </a></li>
                        <li><a href="#">Nóng: Giao dịch BĐS 6 tháng đầu năm 2014 tăng gấp đôi cùng kỳ</a></li>
                    </ul>
                    <div class="nhonDown"></div>
                </div><!---whiteBgBig---->
                <div class="pinkNarrowTitle">Dịch vụ</div>
            </div><!--threeCol--->


        </div><!--intro--->

    </div>
</div>