<header class="header">
    @*<div class="container">
        <div class="top">
            <div class="logo">
                <img src="@Url.Content("~/Themes/ClickBay/Content/images/logo.png")">
            </div>
            <div class="formsearch">
                <p class="share">

                    <img src="@Url.Content("~/Themes/ClickBay/Content/images/facebook.png")">
                    <img src="@Url.Content("~/Themes/ClickBay/Content/images/google.png")">
                    <img src="@Url.Content("~/Themes/ClickBay/Content/images/link.png")">
                </p>
                <div class="form-search-box">
                    <input type="text" name="keyword" placeholder="Tìm kiếm">
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>*@
    <nav id="menu">
        <div class="container">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/">Vé nội địa</a></li>
                <li><a href="/">Vé quốc tế</a></li>
                <li><a href="/">Khuyến mãi</a></li>
                <li><a href="/">Dịch vụ khác</a></li>
                <li><a href="/">Tin tức</a></li>
                <li><a href="/">Liên hệ</a></li>
                <li>
                    <span class="hotline">
                        Hotline 0939.448.124
                    </span>
                </li>
            </ul>
        </div>
    </nav>
</header>
