<article>
    <h2>Thông Tin Chuyến Bay</h2>
    <div class="info-flight">
        <div class="div-table-row">
            <div class="div-table-cell">Chuyến bay: </div>
            <div class="div-table-cell"><span>Khứ hồi</span></div>
            <div class="div-table-cell">Số lượng hành khách: </div>
            <div class="div-table-cell"><span>2 người lớn, 1 trẻ em, 1 em bé</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell">Ngày đi:</div>
            <div class="div-table-cell"><span>29-11-2014</span></div>
            <div class="div-table-cell">Ngày về:</div>
            <div class="div-table-cell"><span>31-01-2015</span></div>
        </div>
    </div>
    <div class="info-flight div-table">
        <div class="div-table-row place-flight">
            <div class="div-table-cell"><img></div>
            <div class="div-table-cell">Khởi hành từ <span>Ho Chi Minh City, Viet Nam</span></div>
            <div class="div-table-cell"></div>
            <div class="div-table-cell">Thời gian bay: <span>02h + 00m</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell"><img></div>
            <div class="div-table-cell">Từ <span>Thành phố Hồ Chí Minh (SGN)</span></div>
            <div class="div-table-cell">tới: <span>Hà Nội (HAN)</span></div>
            <div class="div-table-cell">VietNam Airlines <span>(VN 246)</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell"></div>
            <div class="div-table-cell"><span>12h:10 29-11-2014</span></div>
            <div class="div-table-cell"><span>14h:10 29-11-2014</span></div>
            <div class="div-table-cell">Loại vé: <span>Tiết kiệm</span></div>
        </div>
        <div class="div-table-row place-flight">
            <div class="div-table-cell"><img></div>
            <div class="div-table-cell">Khởi hành từ: <span>Ha Noi City, Viet Nam</span></div>
            <div class="div-table-cell"></div>
            <div class="div-table-cell">Thời gian bay: <span>02h + 00m</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell"><img></div>
            <div class="div-table-cell">Từ <span>Hà Nội (HAN)</span></div>
            <div class="div-table-cell">tới: <span>Thành phố Hồ Chí Minh (SGN)</span></div>
            <div class="div-table-cell">VietNam Airlines<span>(VN 243)</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell"></div>
            <div class="div-table-cell"><span>12h:10 31-01-2015</span></div>
            <div class="div-table-cell"><span>14h:10 31-01-2015</span></div>
            <div class="div-table-cell">Loại vé: <span>Tiết kiệm</span></div>
        </div>
    </div>
</article>
