@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page home-page">
    <div class="page-body">
       @*@Html.Widget("home_page_top")*@       
        @Html.Action("NewProducts", "Catalog", new { pageSize = 20, productThumbPictureSize = 109 }) 
      
        @Html.Action("TopicHomePage","Topic")
       
        @*@Html.Widget("home_page_bottom")*@
    </div>
</div>
