<div id="main-pic" class="flexslider" style="width:703px; height:387px;margin:0">
    <ul class="slides">
        <li><img src="/Images/banners/slideshow_main20140409154329.jpg" /></li>
        <li><img src="/Images/banners/slideshow_main20140409154437.jpg" /></li>
        <li><img src="/Images/banners/slideshow_main20140409154521.jpg" /></li>
        <li><img src="/Images/banners/slideshow_main20140414111823.jpg" /></li>
        <li><img src="/Images/banners/slideshow_main20140414112143.jpg" /></li>
        <li><img src="/Images/banners/slideshow_main20140414112206.jpg" /></li>
        <li><img src="/Images/banners/slideshow_main20140530201151.jpg" /></li>
        <li><img src="/Images/banners/slideshow_main20140830143033.jpg" /></li>
        <li><img src="/Images/banners/slideshow_main20140830143506.jpg" /></li>
    </ul>
</div>
<div id="thumble" class="flexslider">
    <ul class="slides">
        <li><img src="/Images/banners/slideshow_thumb20140409154329.jpg" /></li>
        <li><img src="/Images/banners/slideshow_thumb20140409154437.jpg" /></li>
        <li><img src="/Images/banners/slideshow_thumb20140409154521.jpg" /></li>
        <li><img src="/Images/banners/slideshow_thumb20140414111823.jpg" /></li>
        <li><img src="/Images/banners/slideshow_thumb20140414112143.jpg" /></li>
        <li><img src="/Images/banners/slideshow_thumb20140414112206.jpg" /></li>
        <li><img src="/Images/banners/slideshow_thumb20140530201151.jpg" /></li>
        <li><img src="/Images/banners/slideshow_thumb20140830143033.jpg" /></li>
        <li><img src="/Images/banners/slideshow_thumb20140830143506.jpg" /></li>
    </ul>
</div>