@model List<PlanX.Web.Models.News.CategoryNewsModel>

<div class="submenu">
    <a href="@Url.RouteUrl("HomePage")" class="button blue color_white" title="Trang chủ">Trang chủ</a>
    <a href="trangchu.html" class="button grey2" title="Trang chủ">Trang chủ</a>
</div>
