<div>
    <ul class="ul_default">
        <li><a href="#" title="NgânLượng.vn là Ví điện tử và Cổng Thanh toán Trực tuyến">NgânLượng.vn là Ví điện tử và Cổng Thanh toán Trực tuyến</a></li>
        <li><a href="#" title="Cổng thanh toán trực tuyến cho các giao dịch thương mại điện tử (e-commerce)">Cổng thanh toán trực tuyến cho các giao dịch thương mại điện tử (e-commerce)</a></li>
        <li><a href="#" title="Thanh toán tạm giữ an toàn Đảm bảo hoàn tiền 100% khi phát sinh khiếu nại Chứng nhận bảo mật online">Thanh toán tạm giữ an toàn Đảm bảo hoàn tiền 100% khi phát sinh khiếu nại Chứng nhận bảo mật online</a></li>
        <li><a href="#" title="Sử dụng iCoin để thanh toán đơn hàng trên nhiều site mua bán online">Sử dụng iCoin để thanh toán đơn hàng trên nhiều site mua bán online</a></li>
        <li><a href="#" title="Nhắm đúng khách hàng mục tiêu, đánh giá hiệu quả tốt hơn">Nhắm đúng khách hàng mục tiêu, đánh giá hiệu quả tốt hơn</a></li>
        <li><a href="#" title="Thanh toán bằng thẻ cào viettel, vina, master, thẻ ATM, visa, master..v.v.Nhanh, dễ, tiện.">Thanh toán bằng thẻ cào viettel, vina, master, thẻ ATM, visa, master..v.v.Nhanh, dễ, tiện</a></li>
        <li><a href="#" title="NgânLượng.vn là Ví điện tử và Cổng Thanh toán Trực tuyến">NgânLượng.vn là Ví điện tử và Cổng Thanh toán Trực tuyến</a></li>
    </ul>
</div>