@model List<PlanX.Web.Models.News.NewsItemListModel>
@{
    Layout = null;
}
@foreach(var row in Model)
{ 
<div class="threeCol">
    <div class="whiteBgBig">
        <ul>
            @foreach(var news in row.NewsItems)
            { 
            <li><a title="@Html.Raw(news.Title)" href="@Url.RouteUrl("NewsItem", new {SeName=news.SeName })">@Html.Raw(news.Title)</a></li>
            }           
        </ul>
        <div class="nhonDown"></div>
    </div>
    <h4 class="pinkNarrowTitle">@Html.Raw(row.CategoryName)</h4>
</div>
}