@model List<PlanX.Web.Models.News.NewsItemModel>
<aside class="hot_view">
    <div class="left">
        <h2 class="green color_white"><span>HOT</span><br /><span class="small">VIEW</span></h2>
    </div>
    <div class="right">
        <div>
            <ul class="ul_default">
                @foreach(var item in Model)
                {<li><i class="fa fa-angle-double-right mobile"></i><a href="@Url.RouteUrl("NewsItem",new{SeName = item.SeName})" title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</a></li>}                
            </ul>
        </div>
    </div>
</aside>