@model Nop.Web.Models.Catalog.SearchModel
@using Nop.Web.Extensions;
@{
   
    }
<div id="ListProduct">
@foreach (var i in Model.Products)
{ 
  
        @Html.Partial("_ProductBox",i)
    
    
}
    <div class="clearBoth"></div>
    <div class="pager">
        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
    </div>
    </div>
