@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
<div class="page createproduct-page">
    <div class="head-page">
     <a href="@Url.RouteUrl("HomePage")">  <img src="~/Themes/Zhouse/Content/images/logo.png"/></a>

    <div class="info-company">
    <b>CÔNG TY CỔ PHẦN ĐẦU TƯ VÀ XÂY DỰNG HẠNH PHÚC</b>   <br /> 

        Add: 144/12/18a Đường số 6 - KP6 - P Bình Hưng Hòa B - Q Bình Tân<br />

        Tel: 08.668.133.08<br />

        MST: 0312835692<br />

        Website: www.zHouse.com.vn  |  Email: contact@zHouse.com.vn
    </div>
        <div class="clearBoth"></div>

    </div>

    @RenderBody()

    </div>
