@model ThanhToanDiDong.Models.Payment.TopupModel
@{
    Layout = null;
    }

@using (Html.BeginForm("Topup", "Payment", new {role="form",id="frmBuy" }))
{ 
    @Html.ValidationSummary(true);
  <div class="form-group">
    <label for="txtPhone">Số điện thoại:</label>
    @Html.TextBoxFor(x => x.Phone, new { id = "txtPhone", maxlength = "15", @class = "form-control", placeholder = "Nhập số điện thoại" })
    @Html.ValidationMessageFor(x => x.Phone)
  </div>
   <div>
       <label for="ddlPrice">Mệnh giá:</label>
       @Html.DropDownListFor(x => x.PriceListId, Model.PriceList,"Chọn mệnh giá")
   </div>
  <button type="submit" class="btn btn-primary">Gửi</button>


}

