@model FooterModel
@using Nop.Web.Models.Common;

<div class="footer">
    <div class="footerBg">
        <div class="wrapper">
            <div class="footerContent">
                <div class="footerCol">
                    <b>Dịch vụ</b><br><br>
                    <div class="blueLink"><a href="#">Tư vấn mua bán nhà đất</a></div>
                    <div class="blueLink"><a href="#">Hỗ trợ pháp lý</a></div>
                    <div class="blueLink"><a href="#">Quảng cáo nhà đất</a></div>
                    <div class="blueLink"><a href="#">Hỗ trợ vay vốn ngân hàng</a></div>
                    <div class="blueLink"><a href="#">Tư vấn đầu tư</a></div>
                    <div class="blueLink"><a href="#">Hỏi và đáp</a></div>
                </div><!---footerCol---->
                <div class="footerLine"></div>

                <div class="footerCol">
                    <b>Kiến thức</b><br><br>
                    <div class="blueLink"><a href="#">Tư vấn mua bán nhà đất</a></div>
                    <div class="blueLink"><a href="#">Hỗ trợ pháp lý</a></div>
                    <div class="blueLink"><a href="#">Quảng cáo nhà đất</a></div>
                    <div class="blueLink"><a href="#">Hỗ trợ vay vốn ngân hàng</a></div>
                    <div class="blueLink"><a href="#">Tư vấn đầu tư</a></div>
                    <div class="blueLink"><a href="#">Hỏi và đáp</a></div>
                </div><!---footerCol---->
                <div class="footerLine"></div>

                <div class="footerCol">
                    <b>Kết nối với chúng tôi</b><br><br>
                    <a href="#"><img src="@Url.Content("Themes/Zhouse/Content/images/footerLink.png")" class="noborder"></a>
                </div><!---footerCol--->
                <div class="footerLine"></div>

                <div class="footerCol">
                    <b>Đăng ký nhận tin</b><br><br>
                    <input type="text" class="footerBox" value="eMail của bạn">
                    <input type="button" class="blueBtn" value="gửi">
                </div><!---footerCol--->

            </div><!--footerContent---->
        </div><!---wrapper--->
    </div>
    <div class="wrapper">
        <div class="footerEnd">
            Copyright 2013 © Ho Chi Minh Real Estate Company<br>
            Address: 144/12/18a Street 6, Binh Hung Hoa Ward, Binh Tan Dist Ho Chi Minh City - Tel: 0939.448.124<br>
            Email: info@zHouse.com.vn<br>
            Design and SEO by eCOMsolute.com<br>

        </div>
    </div>
    @Html.Widget("footer")
</div>