@model NewsletterBoxModel
@using PlanX.Web.Models.Newsletter;
<div class="newsletter_email">
    <div class="text"><input class="textbox" id="newsletter-email" style="width:260px" name="NewsletterEmail" type="text" placeholder="eMail của bạn"></div>
    <div class="text input"><input type="button" value="Gửi" id="newsletter-subscribe-button" name="newsletter-subscribe-button" class="default"></div>
</div>
<span class="field-validation-valid" data-valmsg-for="NewsletterEmail" data-valmsg-replace="true"></span><br />
<div id="newsletter-result-block" class="newsletter-result-block"></div>