BODY {
    font-family: Segoe UI,Tahoma,Arial;
    font-size: 16px;
    margin: 0;
    color: #fff;
    background-color: #fff;
}

a {
    color: #030;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

p {
    padding: 0;
    line-height: 1.5em;
}

img {
    max-width: 100%;
    position: relative !important;
}

#wrapper {
    width: 100%;
    background: #fff;
}

    #wrapper .wrapper-content {
        width: 100%;
        padding-top:10px;
    }

#header {
    background: url(header-background.png) no-repeat #001c38;
    width: 100%;
}

.headerTop {
    width: 80%;
    margin: 0 auto;
    min-width:720px;
}

.menu-top {
    float: right;
    text-align: right;
}

.logo {
    float: left;
}

.menu-top li {
    padding: 0 24px;
    float: left;
    background: url(menu-icon.png) no-repeat right 64%;
}

.menu-top ul {
    display: inline-block;
}

.banner {
    padding-top: 20px;
    height: 587px;
    width: 100% !important;
    margin: 0 auto;
}

    .banner .text {
        width: 40%;
        float: left;
        height: 587px;
    }

        .banner .text .text-content {
            margin-top: 57%;
            font-size: 14px;
        }

            .banner .text .text-content .text1 {
                color: #273c94;
                font-size: 50px;
            }

            .banner .text .text-content .text2 {
                font-size: 50px;
            }

            .banner .text .text-content p {
                white-space: normal;
            }

.picture {
    width: 60%;
    float: left;
    height: 587px;
}

    .picture .item {
        margin-top: 50px;
    }

#slideshowWindow {
    overflow: hidden;
    height: 587px;
}

.menu-top li:last-child {
    background: 0;
}

.menu-top li a {
    color: #fff;
}

.blue {
    color: #273CF6;
}

#content {
    background: #fff;
}

.clearboth {
    clear: both;
}

.col50 {
    width: 50%;
    float: left;
}

.col-2 {
    padding-top: 40px;
}

.info-teams {
    margin-top: 32px;
}

.content-box {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.col50 .content-box:first-child {
    border-bottom: solid 1px #888;
}

.box {
    background: #fff;
    color: gray;
    padding: 20px;
    min-height: 300px;
}

    .box b {
        font-size: 24px;
    }

    .box .icon-box {
        float: left;
        width: 78px;
    }

    .box .text-box {
        float: left;
        width: 60%;
        margin-left: 14px;
        font-size: 14px;
    }



#pofilo {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.projects {
    background: url(background-project.png);
    margin-top: 40px;
    padding: 0;
}

    .projects .div-title {
        width: 100%;
        height: 100px;
        position: relative;
        background: #000;
        opacity: 0.5;
    }

    .projects h2 {
        text-align: center;
        font-size: 40px;
        color: #fff;
        width: 100%;
        position: absolute;
        margin-top: -53px;
    }

    .projects .div-items {
        background: #000;
        opacity: 0.85;
        text-align:center;
    }

    .projects li {
        float: left;
        height: 189px;
        width: calc(100% / 3);
        overflow: hidden;
        text-align:center;
        opacity:0.5;
    }

    .projects li:hover{opacity:1;}

        .projects li img {
            max-height: 100%;
        }

    .projects h1 {
        color: #00b4ff;
        font-size: 20px;
        text-align: center;
    }

.per {
    margin-top: 32px;
    font-size: 12px;
    color: #ccc;
}

    .per .infoLeft {
        float: right;
        text-align: right;
        margin-right: 10px;
    }

    .per .infoRight {
        float: left;
        width: 50%;
        margin-left: 10px;
    }

    .per .name {
        font-size: 20px;
        color: #000;
    }

    .per .avatar {
        max-width: 100px;
        float: right;
    }

        .per .avatar img {
            border-radius: 100px;
        }

.col-2 .per .avatar {
    max-width: 100px;
    float: left;
}

.team-left {
    float: right;
}

#team {
    margin: auto 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

    #team h2 {
        font-size: 40px;
        text-align: center;
    }

#footer {
    background: url(header-background.png) center;
    width: 100%;
    height: 300px;
}

    #footer h2 {
        text-align: center;
        font-weight: normal;
        color: #00b4ff;
        font-size: 24px;
        padding-top: 15px;
    }

        #footer h2 span {
            color: #fff;
        }

    #footer h3 {
        text-align: center;
        font-size: 16px;
        color: #00b4ff;
        font-weight: normal;
        margin-top: 8%;
    }

        #footer h3 span {
            color: #fff;
            font-size: 18px;
        }

.div-table {
    display: table;
    float: left;
}

.col-row {
    display: table-row;
}

.col-cell {
    display: table-cell;
}

    .col-cell .content-web {
        border-bottom: 1px solid #888;
        border-right: 1px solid #888;
        padding: 10px 0px 10px 20px;
    }

    .col-cell .content-graphic {
        border-bottom: 1px solid #888;
        padding: 10px 0px 10px 20px;
    }

    .col-cell .content-marketing {
        border-right: 1px solid #888;
        padding: 10px 0px 10px 20px;
    }

    .col-cell .content-domain {
        padding: 10px 0px 10px 20px;
    }

#slideshow2,#slideshow3{width:962px!important;max-width:96%!important}
.slide-item{width:100%;text-align:center;display:inline-block;}
#slideshow3{display:none;}
#slideshow3 .slide-item{padding-top:10px;height:calc(100% - 10px);overflow:hidden;box-sizing:border-box;}
#slideshow3 .slide-item p{margin:0;}
.icon-menu{display:none;float:right;}
/*tablet*/
@media only screen and (max-width: 768px) {
    .headerTop {
        display: inline-block;
        margin: 0 5% 0 5%;
        min-width:0;
    }

    .menu-top {
        width: 100%;
        text-align: left;
    }

    .banner {
        height: auto;
        padding-bottom: 40px;
    }

        .banner .text {
            float: none;
            height: auto;
            width: 100%;
        }

            .banner .text .text-content {
                margin-top: 0;
            }

    .picture {
        float: none;
        height: auto;
        width: 100%;
    }

    .col-cell {
        display: block;
    }

        .col-cell .content-web {
            display: inline-block;
            border: 0;
        }

        .col-cell .content-graphic {
            border: 0;
        }

        .col-cell .content-marketing {
            border: 0;
        }

    .picture .item {
        margin-top: 0;
    }
    .projects li{opacity:1;}
}
/*iphone*/
@media only screen and (max-width: 480px) {
    .menu-top li {
        line-height: 30px;
        text-align: left;
        background: url(menu-icon.png) no-repeat left 64%;
    }

        .menu-top li:last-child {
            background: url(menu-icon.png) no-repeat left 64%;
        }
    .banner{padding-bottom:0;}
    .banner.ns_nerveSlider{height:80%!important;}

    .box {
        padding: 20px 0 20px 0;
    }

    .col50 {
        width: 100%;
    }
    .col-2{
        padding-top:0;
    }
    .col-2 .per .avatar{
        float:none;
    }
    .content-box {
        padding-left: 0;
    }

    .box .col50:first-child {
        border: 0;
        margin-left: 0;
    }

    .col50 .content-box:first-child {
        border: 0;
    }

    ul {
        text-align: center;
    }

    .projects li {
        float: none;
        height: auto;
    }

    .team-left {
        float: none;
    }

    .per .infoLeft {
        float: none;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .per .avatar {
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .per .infoRight {
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .picture .item {
        margin-top: 0;
    }

    #pofilo {
        width: 100%;
        margin-top: 0;
    }

    .col-cell .content-web {
        padding-right: 20px;
    }

    .box .icon-box {
        width: 20%;
    }

    .box .text-box {
        width: 80%;
        box-sizing: border-box;
        margin-left: 0;
        padding-left: 14px;
    }
    #slideshow2{display:none;}
    #slideshow3{display:inline-block;}
    .icon-menu{display:block;}
    .headerTop{width:100%;padding:0 5%;box-sizing:border-box;margin:0;}
    #footer {height:auto;padding:20px 0;}
    #footer h2{font-size:18px;}
    #footer h3{font-size:14px;}
}