@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@{
    int i = 1;
    int positionbanner = 200;
}
@if (Model.Count > 0)
{
    <div class="wrapper">
        <div class="intro-product">
            <div><h2 class="block-title">Nhà bán mới nhất</h2></div>
            <div id="list-product-home">
                @foreach (var item in Model)
                {
                    @Html.Partial("_ProductBox", item)
                    if (i % 6 == 0)
                    {
                        positionbanner++;
                        <div style="float:left;width:98%;max-height:100px;overflow:hidden;margin-bottom:10px;">
                            @Html.FptBanner(Position: positionbanner)
                        </div>
                    }i++;}
            </div>
        </div>
        <div style="max-width:23%;float:left">
            @Html.FptBanner(Position: 102)
        </div>        
    </div>
}