@{
    Layout = "~/Views/Shared/_ColumnOne.cshtml";
}
<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div class="head">
    <div class="container">
        <div class="search-head">
            <div class="box-search" style="float: right; margin-top: 20px; box-shadow: 0px 4px 10px #000;">
             @Html.Action("SearchBox","ClickBay")
            </div>
        </div>
        <div class="clear"></div>
        @*<div class="top-sale">
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>

        </div>*@
    </div>
</div>

<div class="container">
    @*<div class="sologan">Chất lượng là yếu tố sống còn của Clickbay.com.vn</div>*@
    <div class="col2">
        @*<div class="load-ajax" data-url="@Url.Action("BookingRecent", "ClickBay", new { numberBooking = 5 })"></div>*@
        <div class="box box-50">
            <div class="box-h boder-dashed">
                <div class="box-t">
                    ĐẶT VÉ NHANH 24/24
                </div>
            </div>                
            <div class="box-c home">
                <div>
                    <p class="green-text">Quý khách có thể mua vé máy bay bằng nhiều hình thức sau:</p>
                    <ul class="ht">
                        <li>
                            <b>1.</b>Trực tiếp trên ClickBay.com.vn nhanh nhất và tiện nhất.
                        </li>
                        <li>
                            <b>2.</b>Qua chat (Nội địa & Quốc tế):<br>
                            <div class="chat-box">
                                <div class="chat-box-yahoo">
                                    Yahoo:
                                    <div class="chat-box-yahoo-box">
                                        <a href="ymsgr:sendIM?thanhphu86">
                                            <img src="http://opi.yahoo.com/online?u=thanhphu86&t=17" />
                                        </a>
                                    </div>
                                    <div class="chat-box-yahoo-box">
                                        <a href="ymsgr:sendIM?thanhphu86">
                                            <img src="http://opi.yahoo.com/online?u=thanhphu86&t=17" />
                                        </a>
                                    </div>
                                    <div class="chat-box-yahoo-box">
                                        <a href="ymsgr:sendIM?diemmypkpro">
                                            <img src="http://opi.yahoo.com/online?u=diemmypkpro&t=17" />
                                        </a>
                                    </div>
                                    <div class="chat-box-yahoo-box">
                                        <a href="ymsgr:sendIM?diemmypkpro">
                                            <img src="http://opi.yahoo.com/online?u=diemmypkpro&t=17" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-box">
                                <div style="display:table-row">
                                    Skype:
                                    <div id="SkypeButton_Call_thanhphu86_1" class="chat-skype">
                                        <script type="text/javascript">
                                            Skype.ui({
                                                "name": "chat",
                                                "element": "SkypeButton_Call_thanhphu86_1",
                                                "participants": ["thanhphu86"],
                                                "imageSize": 24
                                            });
                                        </script>
                                    </div>
                                    <div id="SkypeButton_Call_diemmypkpro_1" class="chat-skype">
                                        <script type="text/javascript">
                                            Skype.ui({
                                                "name": "chat",
                                                "element": "SkypeButton_Call_diemmypkpro_1",
                                                "participants": ["diemmypkpro"],
                                                "imageSize": 24
                                            });
                                        </script>
                                    </div>
                                    <div id="SkypeButton_Call_thanhphu86_2" class="chat-skype">
                                        <script type="text/javascript">
                                            Skype.ui({
                                                "name": "chat",
                                                "element": "SkypeButton_Call_thanhphu86_2",
                                                "participants": ["thanhphu86"],
                                                "imageSize": 24
                                            });
                                        </script>
                                    </div>
                                    <div id="SkypeButton_Call_diemmypkpro_2" class="chat-skype">
                                        <script type="text/javascript">
                                            Skype.ui({
                                                "name": "chat",
                                                "element": "SkypeButton_Call_diemmypkpro_2",
                                                "participants": ["diemmypkpro"],
                                                "imageSize": 24
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>3.</b>Gọi cho ClickBay.com.vn<strong style="color:#f00000;font-size:18px;"><span style="padding:0 8px;">0989 448 449</span>-<span style="padding:0 8px;">08 6268 5656</span></strong>
                        </li>
                        <li>
                            <b>4.</b>Đến trực tiếp văn phòng ClickBay tại Sài Gòn ( <a href="@Url.RouteUrl("ContactUs")" style="color:#000;font-size:13px;text-decoration:underline;">xem bản đồ</a> )
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box box-50 payment">
            <div class="box-h boder-dashed">
                <div class="box-t">
                    CÁC PHƯƠNG THỨC THANH TOÁN
                </div>
            </div>
            <div class="box-c home">
                <p class="green-text">Các hình thức thanh toán:</p>
                <ul class="ht">
                    <li>
                        <b>1.</b>Tại văn phòng công ty:<br />
                        <p>ĐC: 41 Bế Văn Đàn, P.14, Q.Tân Bình, Tp.Hồ Chí Minh.</p>
                    </li>
                    <li>
                        <b>2.</b>Tại nhà:<br><p>ClickBay sẽ giao vé và thu tiền tận nhà giúp bạn.</p>
                    </li>
                    <li>
                        <b>3.</b>Qua chuyển khoản ATM: <br />
                        <p>Số tài khoản:...</p>
                    </li>
                    <li>
                        <b>4.</b>Thanh toán Online: Qua cổng thanh toán OnePay.
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="load-ajax" data-url="@Url.Action("HomeTicketConcession", "TicketConcession", new { Page = 1, PageSize = 5 })"></div>


