@model Nop.Web.Models.Catalog.InsertProductModel
@{
    if (!ViewBag.IsRegistered)
    {
        Layout = "~/Views/Shared/_RootNoHeadFoot.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
        Html.AddTitleParts(T("PageTitle.Account").Text);
    }
}
@if (ViewBag.IsRegistered)
{
    @section left
{
        @Html.Partial("~/Views/Customer/MyAccountNavigation.cshtml", Model.NavigationModel, new ViewDataDictionary())
    }}
<div class="page-body">
    @using (Html.BeginForm("EditProduct", "Catalog", FormMethod.Post, new { id = "frmProduct" }))
    {
        <div class="message-error">
            @Html.ValidationSummary(true)
        </div>
        @Html.Partial("_CreateOrUpdateProduct", Model)
    }
</div>
<label>Nếu bạn gặp <b>khó khăn</b> trong quá trình sử dụng hoặc <b>góp ý / báo lỗi</b> với chúng vui, lòng nhấn vào <a style="cursor:pointer;font-size:18px;font-weight:700" onclick="showSupport()">đây</a> để được hỗ trợ hoặc gọi HOTLINE <span style="font-size:16px;">0902 482 664</span>.</label>
<div class="clearBoth"></div>