@model Nop.Web.Models.Catalog.InsertProductModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.Account.InsertProductRent").Text);
}
@section left{
        @Html.Partial("~/Themes/Affilicate/Views/Customer/MyAccountNavigation.cshtml", Model.NavigationModel, new ViewDataDictionary())
}
<div class="page-body">
    @using (Html.BeginForm("InsertProductRent", "Catalog", FormMethod.Post, new { id = "frmProduct" }))
    {
        <div class="message-error">
            @Html.ValidationSummary(true)
        </div>
        @Html.Partial("_CreateOrUpdateProductRent", Model)
    }
    <div class="floatLeft">
        <div class="blueText">Góp ý báo lỗi</div>
        @Html.Partial("_SupportContact", new Nop.Web.Models.Common.ContactUsModel())
    </div>
</div>
<div class="clearBoth"></div>


