<input type="text" id="startDate" name="startDate" placeholder="Từ ngày" />
<input type="text" id="endDate" name="endDate" placeholder="Đến ngày" />
@Html.DropDownList("categoryId", new List<SelectListItem> {
    new SelectListItem { Text = "Loại giao dịch", Value = "0" },
    new SelectListItem { Text = "Bán nhà", Value = "1" },
     new SelectListItem { Text = "Thuê nhà", Value = "16" },
     new SelectListItem { Text = "Dự án", Value = "2" },
})
@Html.DropDownList("statusEndDate", new List<SelectListItem> {
    new SelectListItem { Text = "Tình trạng", Value = "0" },
    new SelectListItem { Text = "Còn hạn", Value = "1" },
     new SelectListItem { Text = "Hết hạn", Value = "2" },
})
@Html.DropDownList("status", new List<SelectListItem> {
    new SelectListItem { Text = "Trạng thái kiểm duyệt", Value = "0" },
    new SelectListItem { Text = "Chờ duyệt", Value = "10" },
     new SelectListItem { Text = "Đang giao dịch", Value = "20" },
     new SelectListItem { Text = "Không duyệt", Value = "30" },
})
<input type="text" id="sku" name="sku" placeholder="Mã tin" />
<input type="submit" name="searchProduct" id="searchProduct" class="blueBtn" value="tìm kiếm" style="float:right; margin-right: 20px;">
<label>(*Chú ý: Nếu "Mã tin" có dữ liệu sẽ ưu tiên tìm mã tin)</label>
<div class="clearBoth"></div>
<script type="text/javascript">
    $(function () {
        $("#searchProduct").click(function () {
            var data = {
                startDate: $("#startDate").val(),
                endDate: $("#endDate").val(),
                categoryId: $("#categoryId").val(),
                status: $("#status").val(),
                statusEndDate: $("#statusEndDate").val(),
                sku: $('#sku').val()
            };

            $.get("@Url.Action("Orders","Customer")", data, function (d) {

                $("#product-list-cus").replaceWith(d);

            })
            return false;
        })

        $.datepicker.regional['vi'] = {
            closeText: 'Đóng',
            prevText: '&#x3c;Trước',
            nextText: 'Tiếp&#x3e;',
            currentText: 'Hôm nay',
            monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
            'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
            monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
            'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
            dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            weekHeader: 'Tu',
            dateFormat: 'dd/mm/yy',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['vi']);


        $("#startDate").datepicker();
        $("#endDate").datepicker();
    })


</script>