@Html.DropDownList("categoryId1", new List<SelectListItem> {
    new SelectListItem { Text = "Loại nhà phố", Value = "0" },
    new SelectListItem { Text = "Nhà 3 tấm", Value = "3" },
     new SelectListItem { Text = "Nhà 1 trệt 1 lầu", Value = "4" },
})

<input type="text" name="productId" id="productId" placeholder="Mã tin" />
<input type="submit" name="searchProduct" id="searchProduct" class="blueBtn" value="tìm kiếm">
<div class="clearBoth"></div>
<script type="text/javascript">
            $(function () {
                $("#searchProduct").click(function () {
                    var data = {
                        categoryId: $("#categoryId1").val(),
                        productId: $('#productId').val()
                    };

                    $.get("@Url.Action("Orders","Customer")", data, function (d) {
                        $("#product-list-cus").replaceWith(d);
                    })
                    return false;
                })
            })
</script>