@model FooterModel
@using PlanX.Web.Models.Common;

<footer class="footer">
    <div class="container">
        <div class="block">


            <img src="@Url.Content("~/Themes/ClickBay/Content/images/logo-small.png")">
            <span>www.clickbay.com.vn</span>
        </div>
        <div class="block">
            <div class="block-title">
                Thông tin liên hệ
            </div>
            <p>
                <b>Công ty TNHH PK Pro</b>
                Địa chỉ: 114/12/18a ,Đường số 6,KP6 Quận BT,TPHCM<br>
                Điện thoại:093.448.124<br>
                Email:duyvu@clickbay.com.vn<br>
                Website:clickbay.com.vn
            </p>
        </div>
        <div class="block">
            <div class="block-title">
                Hổ trợ khách hàng
            </div>
            <ul>
                <li><a>Hướng dẫn thanh toán</a></li>
                <li><a>Thông tin chuyển khoản</a></li>
                <li><a>Hướng dẫn đặt vé</a></li>
                <li><a>Câu hỏi thường gặp</a></li>
                <li><a>Hổ trợ khách hàng</a></li>
            </ul>
        </div>
        <div class="block">
            <div class="block-title">
                Kết nối với chúng tôi
            </div>
            <p>Chúng tôi sẽ gửi cho bạn khuyến mãi mới nhất</p>
            <form>
                <input class="input-email" type="email" placeholder="Nhập email của bạn" name="email"><input class="btn-send" type="submit">
            </form>
            <p style="text-align:center">

                <img src="@Url.Content("~/Themes/ClickBay/Content/images/facebook.png")">
                <img src="@Url.Content("~/Themes/ClickBay/Content/images/google.png")">
                <img src="@Url.Content("~/Themes/ClickBay/Content/images/link.png")">
            </p>
        </div>
    </div>
</footer>