@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        <div class="load-ajax" data-url="@Url.Action("NewProducts", "Catalog", new {pageSize=18 , productThumbPictureSize=105,categoryId=1})">
        </div>
        <div class="load-ajax" data-url="@Url.Action("HomePageProjectProducts", "Catalog", new {pageSize=4,productThumbPictureSize=105})">
        </div>
        <div class="load-ajax" data-url="@Url.Action("TopicHomePage", "Topic")"></div>
    </div>
</div>