@{Layout = "~/Views/Shared/_Root.Head.cshtml";}
<div id="outer-wrap">
    <div class="master-wrapper-page" id="inner-wrap">
        <div class="master-wrapper-content">
            @Html.Partial("Header")
            <div class="wrapper-content">@RenderBody()</div>
        </div>
        @Html.Action("Footer", "Common")
    </div>
</div>