@model CrawlTest.Models.SendSmsModel
@{
    ViewBag.Title = "SendSms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.COOKIE == "")
{ 
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "@Url.Action("Login")",
                type: "POST",
                success: function (d)
                {
                    $("#test").html(d);
                }
            })
        })
    </script>
    <div id="test"></div>
}
else
{
        <form method="post" action="@Url.Action("SendSms")" id="frmSend">
								<ul class="form-list clearfix">
									<li class="clearfix">
										<div class="title">Gửi tới:

</div>
										<div class="sms-input">
											<input type="text" value="" maxlength="360" class="fieldText" style="width:130px" id="bSubs" name="PhoneNumber">
                                    	
																			
										</div>
									</li>
									<li class="clearfix">
										<label class="title">Nội dung:</label>
										<div class="sms-input">
											<textarea  cols="36" rows="5" name="Content" id="message"></textarea>
										</div>
									</li>		
									<li class="clearfix">
										<label class="title">Số ký tự còn lại:</label>
										<div class="sms-input">
											<input type="text" readonly="" style="width:60px" class="fieldText" id="countdown" name="countdown">
										</div>
									</li>
									
								-	<li class="clearfix">
										<label class="title">M&atilde; an to&agrave;n</label>
										<div class="sms-input">
												<input type="text" name="Captcha" id="captcha" style= "font-size:16px;font-weight:bold;width:60px" class="fieldText" maxlength="6" value=""/>
										</div>
									</li>
									
									
								
									<table border="0">
									<tbody><tr>
											<td></td>
											<td><img border="0" src="@Model.CaptchaImageUrl" id="captchaImg"><!--<img id="captchaImg"  src="http://localhost/Kaptcha.jpg">--><img width="25" style="cursor:pointer" id="captchaRef" src="http://vinaphone.com.vn/style/images/refresh.png"><!--<a style="cursor:pointer" id="captchaRef">Ch&#7885;n m&#227; kh&#225;c </a>--></td>
										</tr>				
										<tr>
											<td><input type="radio" checked="checked" onclick="updateCountdown();" value="FREE" name="note"></td>
											<td>Bản tin miễn phí (có kèm quảng cáo)</td>
										</tr>
										<tr>
											<td><input type="radio" onclick="updateCountdown();" value="HAS_FEE" name="note"></td>
											<td>Bản tin trả tiền (không kèm quảng cáo)</td>
										</tr>									
									</tbody></table>
									<li class="clearfix">
										<input type="submit" value="Gửi" name="submit" class="submit"> 
									</li>	
																															
								</ul>
        </form>
<script type="text/javascript">
    $("#frmSend").submit(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Send")",
            data:$("#frmSend").serialize(),
            success: function (d)
            {
                $("#result").html(d);
            }
        })
        return false;
    })
    function onSuccess()
    {
    }
    function onFail()
    {
    }
    function onBegin()
    {

    }
</script>
    <div id="result"></div>
}
