/* RESET STYLESHEET (html5doctor.com) v1.6.1 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
input,select,textarea{box-sizing:border-box;}
/* END RESET CSS (html5doctor.com) */

/* OTHER RESET STYLESHEET (HTML GENERAL) */
body{font-family:"Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
     font-size:13px;background: #fff;color:#5C5B5B;line-height:normal;}
a{color:#5C5B5B;text-decoration:none;font-weight:normal;}
a:hover{color:#B80709;text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-family:arial,helvetica,sans-serif;}
h2,h3{font-size:16px;}

checkbox,input,radio,select,button{}.search-smalll
fieldset{margin:0px 0px 15px;border:1px solid #c9c9c9;padding:15px;}
legend{font-weight:bold;line-height:20px;font-size:16px;}

input[type="text"]:disabled{background:none repeat scroll 0 0 #FFF;}
.color-white{color:#fff;}
/**Clickbay css*/
a {text-decoration:none }
a:hover {text-decoration:none }
ul {list-style:none;padding:0}
p {padding:0;line-height:1.5em }
.wrapper{width:100%;background:#fff}
.header{}
.top{}
.logo{float:left;max-width:180px;}
.formsearch{float:right;width:260px}
.clear{clear:both}
.container ,.wrapper-body,.center-2{width:90%;margin:0 auto}
.container .search-head{width:100%;float:right}
#menu{height:35px;background:#189b96}
#menu li{float:left;padding: 8px 20px;margin-right: 20px;}
#menu li:hover{background:#66cccc}
#menu li:last-child{float:right;padding:0;}
#menu li:last-child:hover{background:none}
#menu li a{color:#fff;font-size:14px}
.hotline{color: #fff;font-size: 21px;line-height:33px;}
.form-search-box {
    background: #f3f3f3;
    text-align: center;
    padding: 19px;
    box-shadow: -2px 0px 8px 1px #999;
    position: relative;
    border-radius: 8px 8px 0 0;
}
.form-search-box input{padding: 6px 0;
background: none;
border:none;
width: 173px;}
.share{text-align:right}
.content{min-height:400px}
.footer{background:#189b96;color:#fff;padding-top:30px;display:inline-block;width:100%;}
.footer .wrapper-content{display:inline-block;width:100%;margin:0;}
.footer .block{float:left;width:25%;box-sizing:border-box;}
.footer .block.support{padding-left:30px;}
.footer .block .block-title{font-size: 16px;text-transform: uppercase;font-weight: bold;}
.footer .support ul li a{line-height:25px;color:#fff}
.footer p.link-site{margin:0;}
.btn-send{background: #ff0000;color: #fff;border: none;padding: 10px;margin-left: 10px;border-radius: 5px;}
.input-email{padding: 8px 4px;border-radius: 5px;border: solid 1px #ddd;}
.head{background:url(images/slide2.jpg);width:100%;height:400px;}
.box-search .box-head{border-bottom:dashed 1px;line-height: 40px;}
.box-search{width:530px;height:300px;background:#f3f3f3;border-radius:5px;z-index: 10;
}
.col{float:left;width:230px;padding-left:10px}
.col label{font-weight:bold}
.textbox{padding:8px 2px;width:80%;border-radius:5px;border:solid 1px #ddd}
.search-text{color:#189b96;font-size:16px;font-weight:bold;padding-left:40px;}
.box-search  label{font-weight:bold}
.box-search .box-content{padding-left: 39px;
padding-top: 26px;}
.box-footer{margin-top: 15px;float: left;padding-left: 11px}
.box-footer span{display:block;width:100px;margin-right:10px;float:left}
.btn-search{
border: none;
background: #fc650d;
color: #fff;
padding: 8px 10px;
text-transform: uppercase;
border-radius: 5px;
margin-top: 15px;
cursor:pointer;
}
.top-sale{width:80%;margin-left:13%}
.bl{float:left;margin-right: 55px;
padding: 10px 50px;background:#f3f3f3;margin-top:10px;border-radius:5px}
.bl .name{color:#189b96;font-size:16px;text-transform:uppercase;font-weight:bold}
.bl .price{color:red;font-weight:bold}
.sologan{color:#189b96;font-size:2em;font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align:center;width:100%;margin:20px 0}
.box{width:400px}
.box-h .box-t{font-size: 16px;
color: #189b96;
margin-bottom: -10px;
background: #fff;
width: 165px;}
.box-c{background: #f3f3f3;
padding: 10px 15px 10px 30px;
margin-top: 20px;
height:300px
}
.list-ticket .row{border-bottom:dashed 1px #66cccc;height:75px;padding-top:2px}
.list-ticket .row:last-child{border:none}
.list-ticket .row p{color:#373737}
.list-ticket .row .item-detail{margin-top:3px}
.list-ticket .row .item-detail .item-logo{padding:0}
.list-ticket .row .item-detail span{float:left;display:block;margin-right:10px;padding:18px 0}
.list-ticket .row .item-detail .price b{color:red}
.list-ticket .row .item-detail .detail-v{float:right}
.list-ticket .row .item-detail .detail-v a{color:green;font-weight:bold;font-style:italic}
.green-text{color:green;font-size:14px}
.ht li{padding:10px 5px 10px 0}
.ht li b{font-size:20px;margin-right:10px}
/*.col2{width:840px;margin:0 auto}*/
.col2{width:100%;margin:0 auto;margin-bottom:20px;margin-top:20px;}
.col2 .box {float: left;}

/*CSS anh dung*/
img{max-width:100%;max-height:100%;}
input,select{padding:6px;}
input.default,a.default{background:#189b96;padding:8px;color:#fff;border:0;font-size:14px;cursor:pointer;display:inline-block;}
label.default{padding:8px;}
input.textbox-default{}
/*.wrapper-body{width:90%;margin:0 auto}*/
.wrapper-content{margin:40px 0;}
.wrapper-content.inline{margin:0 2%;min-width:1166px;}
.home-title{color:#189b96;font-family:initial;font-size:24px;line-height:27px;}
span.active{color:#F2C127;}
.main-background{background:#189b96 !important; color:#fff;}
.wrapper-body{width:90%;margin:0 auto;margin-bottom:20px;}
/*.wrapper-content{margin:0 2%;}*/
.title{display:inline-block;font-size:15px;color:#fff;background:#189b96;width:100%;padding:8px 0}
.title-left{float:left;padding:0 8px;}
.title-right{float:right;padding:0 8px;}
.big-font{color:#E05D00;font-size:20px;font-weight:600;margin-right:7px;width:19%;text-align:right;}
.currency{width:7%}
.section .search input{padding:6px;}
.section .search{padding:10px 10px 10px 0px}
.section .search .default{min-width:90px;background:rgba(24, 155, 150, 1);padding:8px;color:#fff;border:0;font-size:14px;}
.section table{display:table;width:100%;background:#fff;border-collapse:collapse;border-spacing:0;border:1px solid #eaeaea;border-left:0;}
.section table.default tbody tr:hover{background:#c5f3ec !important;}
table tr{display:table-row;vertical-align:inherit;border-color:inherit;}
table th{border-left:1px #eaeaea solid; border-bottom:1px #eaeaea solid;}
table tbody{display: table-row-group;vertical-align:inherit;border-color:inherit;}
table tr td, table th{padding:8px;font-size:14px;line-height:14pt;vertical-align:middle;border-left:1px #eaeaea solid;border-bottom:1px #eaeaea solid;}
table tr td p,table tr th p{margin:0;}
table tr th.active{background:#F2C127}
table.none-border, table.none-border tr, table.none-border tr td{border:none;}
table.none-border tr th:first-child{border-left:none;}
/*.section table tbody tr:nth-child(2n+1){background:#eeeeee;}*/
.section table.orange tbody tr:hover{background:#dadada;}

.section table tbody tr td a{cursor:pointer;}
.bordered{border:1px #189b96 solid;}
.pointer {cursor:pointer;}
.section-left{float:left;width:69%;margin-right:1%}
.section-right{float:left;width:30%}
.section-left-search{float:left;width:100%;}
.section-right-search{float:left;width:24%}
.section article{margin-bottom:20px;}
.section-right article aside, .section-right-search article.news-box-small aside{border-bottom:1px solid #189b96;padding-bottom:15px;margin-bottom:10px;}
.inline{display:inline-block;}
.dangtin{margin-top:20px;}
.div-group{margin-bottom:10px;}
.div-group .field-name{padding:8px;float:left;width:100px}
.div-group .box-radio{margin-left:112px;padding:5px 0;}
.news-content-preview{font-size:14px;}
.news-content-preview .news-title{color:#189b96;font-size:18px;font-weight:600;cursor:pointer;}
.info-small{font-size:11px;color:#A9A5A5;}
.info-small p{line-height:0;}
.info-small p span{margin-right:10%;}
.time-small{margin-left:0;}
.news-content-preview .content-preview{text-align:justify;}
img.icon-small{width:10px;margin:0 4px;}
#btnContinue{float:right;margin:15px 0;}
#description{min-width:250px;min-height:50px;}
#btnDangTin{margin-left:116px;}
/*search small*/
.search-box-small .box-search{width:auto;height:auto; margin-top: 10px;padding:10px}
.search-box-small .box-search .box-head{height:auto;}
.search-box-small .box-search .box-head .search-text{padding-left:10px;}
.search-box-small .box-search .box-head .search-roundtrip{float:none;padding-left:10px;margin:0;}
.search-box-small .box-search .box-head p{margin:0;}
.search-box-small .box-search label{line-height:15px;}
.search-box-small .box-search .box-content{padding-left:0;padding-top:15px}
.search-box-small .box-search .box-content .col{float:none;width:auto;margin:0;}
/*.search-box-small .box-search .box-content .col .textbox{padding-left:8px;width:100%;}*/
.search-box-small .box-search .box-content .col #fromPlace, 
.search-box-small .box-search .box-content .col #toPlace,
.search-box-small .box-search .box-content .col input{margin:3px 0;width:100%;}
.search-box-small .box-footer{text-align:center;}
.search-box-small .box-search .box-content .col span{width:30%;display:inline-block;margin-left:2%;}
.box-filter,.box-sort{border:1px solid #189b96;margin-bottom:5px;}
.box-filter .box-content,.box-sort .box-content{padding:10px 0;}
.box-filter .box-content p,.box-sort .box-content p{margin:0 0 5px 5px;}
.center{text-align:center;}
.search-box-small .box-search .box-content .col .textbox.center{width:85%; padding-left:0;}
.search-box-small .box-search .box-content .box-footer{margin-top:5px;float:none;padding-left:0;}
.search-box-small .box-search .box-content .box-footer span{display:inline-block;width:30%;margin-right:0;float:none;}
.info-filter p span{margin-right:7px;font-size:18px;color:#F2C127;}
.info-filter .info-title-search{font-size:20px;color:#4C8EE5;font-weight:700;}
.info-passenger p span{font-size:14px;margin-right:7px;}
/*.search-box-small #dialog-form{width:auto;}*/
.search-box-small #dialog-form .domestic-group-50{float:left;width:50%;}
/*news*/
.news,.news-detail{margin-right:6%;}
.news article aside{margin-bottom:10px;padding-bottom:15px;border-bottom:1px solid #189b96;display:inline-block;}
.news article aside .news-content-preview{float:left;width:68%;}
.news article aside .info-small{display:block;}
.news-image{width:30%;float:left;margin-right:2%;height:177px;overflow:hidden;}
.table{width:100%}
/*news detail*/
.news-detail .news-title{font-size:25px;color:#189b96;font-weight:600}
.news-detail .info-small{font-size:12px;}
.news-detail .content-preview{font-size:15px;}
.boder-dashed{border-bottom:dashed 1px #189b96}
.boder-dashed-top{border-top:dashed 1px #189b96}
.nv-title{color: #189b96;font-size: 18px;text-transform: uppercase;margin-bottom: -10px;background: #fff;font-weight:500;padding-right:5px;}
/*.postitem{cursor: pointer;color: #fff !important;}*/
.postitem{cursor: pointer;
color: #fff !important;
float: right;
display: block;
background: rgb(255, 87, 0);
padding: 4px 15px;
font-size: 16px;
border-radius: 5px;}
.t{text-align: center;
color: #189b96;
font-size: 19px;}
.section .search{padding:10px 10px 10px 0px}
.section .search form input{border-color:#999999;margin-right:3px;width:auto}

/* AJAX LOADING INDICATOR */
.ajax-loading-block-window{position:fixed;top:50%;left:50%;width:128px;height:128px;overflow:hidden;z-index:1104;}
.ajax-loading-block-window .loading-image{position:absolute;top:0;left:0;width:128px;height:128px;background-image:url('images/ajax_loader_large.gif');}
.please-wait{background:url('images/ajax_loader_small.gif') no-repeat;padding-left:20px;}

/*booking*/
.booking{font-size:14px;border:1px solid #e2e2e2;width:73%;padding:10px;}
.booking h2{color:#189b96;margin:10px 0;padding:3px 0;border-bottom:1px solid;}
.booking p{margin:0;padding:0;}
.booking input{box-sizing:border-box;}
.booking .div-table{display:table;width:100%;}
.booking .div-table-row{display:table-row}
.booking .div-table-row .div-table-cell{display:table-cell; padding:5px;vertical-align:middle;}
.booking .div-table-row .div-table-cell span{font-weight:bold;}
.booking .div-table-row .div-table-cell img{vertical-align:middle;}
.logo-brand{padding:0!important;width:50px;}
.hide{display:none;}
.info-flight{margin-bottom:14px;}
.info-flight .place-flight{background:#CEE7E4}
.condition-price .div-table-row .div-table-cell:first-child{width:23%}
.condition-price .div-table-row .div-table-cell:last-child{border-bottom:1px dashed #dcdcdc;}
.info-baggage .div-table-row .div-table-cell .normal{padding-left:12px;font-weight:normal}
.info-passenger .div-table-row .div-table-cell.col-1{width:11%}
.info-passenger .div-table-row .div-table-cell.col-2{width:13%}
.info-passenger .div-table-row .div-table-cell.col-4{width:35%}
.info-passenger input{width:100%;text-transform:uppercase;}
.info-passenger select.fullwitdth,.info-contact select.fullwitdth{width:100%;}
.info-passenger .info-small,.info-contact .info-small{font-weight:normal;font-size:12px;font-style:italic;}
.info-contact input{width:100%;}
.info-contact .div-table-column{display:table-column;}
.info-contact .div-table-row .div-table-cell.haft{width:50%;padding:0;}
.info-contact .div-table-row .div-table-cell span{line-height:20px;}
.booking textarea{width:100%;min-height:100px;max-width:100%;}
.policy label{font-style:italic;}
.policy label a{text-decoration:underline;}
.priceDetail .detail{padding:10px;}
.priceDetail .detail h4{margin:0;}
.priceDetail .detail h4 span{border-bottom:1px solid;}
.priceDetail .detail .box-content{border-bottom:1px dashed;padding-bottom:0;margin-bottom:10px;}
.priceDetail .detail .box-content:last-child{border-bottom:0;}
.priceDetail .detail .box-content.sumPrice p span:last-child{font-size:15px;font-weight:600;}
.priceDetail .detail .box-content p span:last-child{float:right;}

/*BOX search*/
.listCity td{vertical-align: top;}
.listCity ul{list-style: none;float: left;clear: both;}
.listCity ul li{float: left;clear: both;padding: 0 5px 0 0;width: 115px;}
.listCity ul li.title{font-weight: bold;font-size: 13px;padding: 5px 0 7px 0;color: #ff7b0f;text-transform: uppercase;}
.listCity ul li a{float: left;width: 106px;padding: 3px 5px;}
.listCity ul li a:hover{background: #ff7b0f;}
.listCity ul li a:hover *{color: #fff;}
.listCity ul li a:hover b{font-weight: bold;}
.listCity ul li a b{float: left;font-weight: normal;}
.listCity ul li a span{float: right;font-weight: bold;font-size: 10px;color: #999;display: none;}
.domestic-col{float: left;font-size: 14px;min-width:15px;margin-left:20px;}
.domestic-col .title{padding:0;}
.domestic-col ul li{padding-left:8px;background:none;color:rgb(255, 87, 0);font-weight:700;}
.domestic-col a:hover{cursor:pointer;text-decoration:underline;}
.internation-city{float: left;width: 260px;margin-left:20px;}
.internation-city h3{font-size: 13px;padding: 5px 0;margin: 0;color: #ff7b0f;text-transform: uppercase;}
.internation-city p{font-size: 11px;color: #888;}
.internation-city input{height: 24px;width: 250px;border: 1px solid #ccc;padding: 2px 5px;margin: 7px 0;}
.select-date{padding-top: 10px;}
.select-date select{height: 26px;}
#dialog-form{position: absolute;
z-index: 10;
top: 113px;
/*left: 802px;*/
background: #fff;
/*padding: 11px;*/
line-height: 24px;
/*border:1px solid #ccc;*/
border-radius:5px;
box-shadow: 6px 6px 7px -4px #ccc;
border-top:0;
display:none;
padding-bottom:10px;
width:715px;
    }

#dialog-form p.title{margin:0;margin-bottom:7px;padding:8px 0px 8px 10px;box-sizing:border-box;line-height:12px;}
a.close{color:#fff;padding:4px 10px 4px 9px;cursor:pointer;background:#FD955A;}
    .default{
        cursor: pointer;
color: #fff !important;
display: block;
background: rgb(255, 87, 0);
padding: 4px;
font-size: 16px;
border-radius: 5px;
    }
    #fromPlace,#toPlace{background: #fff;
display: block;
padding: 0 10px;
height: 29px;
line-height: 29px;
width: 80%;
border-radius: 5px;
border: solid 1px #ddd;
box-sizing:border-box;
cursor:pointer;
    }
    #From,#To{cursor:pointer;padding-left:10px;padding-right:10px;box-sizing:border-box;}
    .section table.orange tbody tr[show]:hover{background:none}
    .birthday select{margin-right:10px}
    #Adult,#Child,#Flant{padding-left:15%;}

/*News*/
.section-right-search {float: right;width: 24%;margin-bottom: 20px;}
.news-image img {width: 100%;}
span.active{color: #F2C127;}
.news-detail .news-title { font-size: 25px; color: #189b96; font-weight: 600; }
.ui-timepicker-wrapper {overflow-y: auto;height: 150px;width: 6.5em;background: #fff;border: 1px solid #ddd;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);outline: none;z-index: 10001;margin: 0;}
.ui-timepicker-wrapper.ui-timepicker-with-duration {width: 13em;}
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {width: 11em;}
.ui-timepicker-list {	margin: 0;	padding: 0;	list-style: none;}
.ui-timepicker-duration {	margin-left: 5px; color: #888;}
.ui-timepicker-list:hover .ui-timepicker-duration {	color: #888;}
.ui-timepicker-list li {	padding: 3px 0 3px 5px;	cursor: pointer;	white-space: nowrap;	color: #000;	list-style: none;	margin: 0;}
.ui-timepicker-list:hover .ui-timepicker-selected {	background: #fff; color: #000;}
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {	background: #1980EC; color: #fff;}
li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {	color: #ccc;}
.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {	color: #888;	cursor: default;}
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {	background: #f2f2f2;}
.dangtin input[type="text"]{width:220px}
.dangtin input[name="RoundTrip"] {    margin-top:-1px;}
.timepicker {    width:100px !important;}
.datepicker {    width:100px !important;}

/*Ticket cocession*/
.right{text-align:right;}
.left{text-align:left;}
.bold{font-weight:600}
div#pages {float: right;padding: 10px 0;}
.item:hover, .item.oll:hover {background: #C5F3EC;}
.note {width: 46% !important;}
.detail-ticket {background: rgb(242, 255, 158);}
table th {border-left: 1px #eaeaea solid;border-bottom: 1px #eaeaea solid;}
table tr td p, table tr th p {margin: 0;}
table tr th.active {background: #F2C127;}
table.none-border tr th:first-child {border-left: none;}
hr.style-two {border: 0;height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    }
.detail-btn {width: 116px !important;}
.item.oll {background: #eee;}
ul.simple-pagination {list-style: none;}
.simple-pagination {display: block;overflow: hidden;padding: 0 5px 5px 0;margin: 0;}
.simple-pagination ul {list-style: none;padding: 0;margin: 0;}
.simple-pagination li {list-style: none;padding: 0;margin: 0;float: left;}
.light-theme a, .light-theme span {
        float: left;
        color: #666;
        font-size: 14px;
        line-height: 24px;
        font-weight: normal;
        text-align: center;
        border: 1px solid #BBB;
        min-width: 14px;
        padding: 5px 10px;
        margin: 0 5px 0 0;
    }
        .light-theme a:hover {
            text-decoration: none;
            background: #efefef;
        }
    .light-theme .current {
        background: #666;
        color: #FFF;
        border-color: #444;
        box-shadow: none;
        cursor: default;
    }
    .light-theme .ellipse {
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        font-weight: bold;
        cursor: default;
    }
    .input-validation-error{border:solid 1px #d41212}
.ticket-xem-them {float:right;padding:10px;text-decoration:underline;}
.TicketConcession{margin:20px 0;}
.TicketConcession .readmore{display:inline-block;width:100%;}
/*login*/
.page-body {margin-top:20px;}
.form-fields{padding:20px;border:1px solid #ddd;}
.form-fields .inputs {margin:8px 0;}
.form-fields label[for=Email]{padding-right:32px;}
.form-fields label[for=Password]{padding-right:8px;}
/*.active-detail{background: #d0d959}*/
.active-detail{background: #DADADA;}
select[name^=day],select[name^=month],select[name^=year]{max-width:120px;}
.select-id-ticketinfo p {margin-bottom:6px;}
.uppercase{text-transform:uppercase;}
.ticket-id{font-size:20px;color:#F24B4B;padding-left:10px;}
article.successfull{border:1px solid;background:#F2F2F2;padding:10px;}
article.successfull .info-successfull{border:none;margin:0;}
.logo-background{background:#fff;width:170px;}
.required{color:red;}
.guide{margin-top:20px;line-height:20px;}
.guide h3{margin-bottom:8px}
.guide h3 span{border-bottom:1px solid;}
.guide h4{font-size:15px;font-weight:500;}
.guide a h4:hover{text-decoration:underline;}
.guide .hotline{color:red;}
.search-roundtrip{float:right;margin-right:48px;}
#spinfo,#ctinfo{
    width: 300px;

position: absolute;
 bottom: 36px;
background: #fff;
 display: none; 
padding: 8px;
border: solid 1px #ccc;
box-shadow: 1px 1px 8px #ccc;
}
#spinfo{line-height: 20px;
right: 2%;
height: 98px;
padding-left: 32px;
width: 164px;
}
#ctinfo{
    height: 127px;
    right:3%
}
.map-dialog .ui-dialog-titlebar{
    background:#189b96;
    border:none
}
.box-50{width:50%;padding:7px;box-sizing:border-box;}

/**/
.home .box-h .box-t{margin-bottom:0;background:none;width:auto;}
.home .box-c{font-size:15px;padding:0 0 0 20px;background:none;}
.home .ht li, .payment .ht li{padding:6px 0;font-size:16px;}
.payment .ht li{padding-left:60px;}
.home .ht{margin-top:10px;}
.home .ht li b{font-size:16px;}
.home p{margin:3px 0px;font-size:14px;}
.home .green-text,.payment .green-text{font-size:18px;font-style:italic;margin:0;}
.home .chat-skype{display:table-cell;width:74px;text-align:center}
.home .chat-skype img{vertical-align:0!important;margin:0!important;margin-bottom:-5px!important;width:53px;}
.home .chat-box p{margin:0;font-size:13px!important;}
.home .chat-box{padding-left:90px;padding-top:10px;}
.home .chat-box-yahoo{display:table-row;}
.home .chat-box-yahoo img{width:30px;}
.home .chat-box-yahoo .chat-box-yahoo-first{display:table-cell;width:110px;text-align:center;font-size:13px;}
.home .chat-box-yahoo .chat-box-yahoo-box{display:table-cell;width:63px;text-align:center;font-size:13px;}
.payment .box-h .box-t{width:256px;}
.box-filter .box-content p.airline img{float:right;max-width:44px;}
.font-small{font-weight:normal!important;font-size:12px;}
.news-home{display:inline-block;width:100%;margin:0;}
.news-home .nv-title{width:131px;}
.news-home aside{float:left;width:20%;padding:4px;box-sizing:border-box;margin-bottom:10px;height:255px;}
.news-home aside .box-inside{box-shadow:1px 3px 5px 0 #ddd;padding:6px;box-sizing:border-box;overflow:hidden;height:100%;}
.news-home .news-image{width:100%;float:none;box-sizing:border-box;margin:0;}
.news-home .news-content-preview .news-title{font-size:14px;font-weight:500;}
.news-home .news-content-preview .news-title:hover{text-decoration:underline;color:#A2C3C1}
.news-home .news-image img{margin:0!important;}
.box-line{width:100%;}
.box-line div.nv-title{display:inline;}
.box-line div.line{display:inline-block;width:100%;float:left;margin-top:-10px;}
.line{margin:0;}
.tt-van-phong{background:url(/Themes/ClickBay/Content/images/thanh_toan_tai_van_phong.png) top left no-repeat;}
.tt-tai-nha{background:url(/Themes/ClickBay/Content/images/thanh_toan_tai_nha.png) top left no-repeat;}
.tt-chuyen-khoan{background:url(/Themes/ClickBay/Content/images/thanh_toan_chuyen_khoan.png) top left no-repeat;}
a.showmap{cursor:pointer;color:#000;font-size:13px;text-decoration:underline;}
/*Contact Page*/
.contact-page{}
.contact-page .page-title{font-size:20px;}
.contact-page .box-50{float:left;}
.contact-page .contact-address{font-size:14px;}
.contact-page .buttons{margin:5px 0;}
.contact-page input.default{border-radius:0;}
.contact-page textarea{min-height:93px;width:100%; max-width:100%;box-sizing:border-box;padding:10px;}
.contact-page .map-canvas{box-shadow:1px 2px 5px 1px #ddd;}
.field-validation-error{color:red;}
.contact-page .form-fields{border:0;padding:0;}
.flexslider p{margin:0;}
.flexslider {height:400px;overflow:hidden;position:absolute!important;}
.head .container{position:absolute;}
.map-dialog{position:absolute;z-index:1001;}
#table-data,#table-data-return{border:1px #189b96 solid;border-top:none;max-height:393px;overflow:auto;}
/*blocklink*/
.block-link{margin:0;display:inline-block;width:100%;}
.block-link aside{width:25%;float:left;}
.block-link aside a{color:#189b96;}
.block-link aside a:hover{color:#ccc;}
.block-link aside p{margin:2px 0;font-size:12px;}
.block-link div.box-inside{padding-right:100px;}
.block-link aside .box-inside .inside{max-height:200px;overflow:auto;}
.bg-grey-white{background:#f0f0f0;}
.bg-white{background:#ffffff;}