<section class="headerContent">
    <div class="load-ajax menu_container" data-url="@Url.Action("NewsCateNavigation", "News", new { categoryId = 10, viewReturn = "NewsCateNavigationLeft", isShowNewsCount = true })"></div>
    <div class="banner_content">
        <div class="banner_content_left">@*<div class="banner"></div>*@
            <div class="top_news" data-url="@Url.Action("BannerSlideShow", "News", new {numite=1,picturethumbsize=500 })">
                @Html.Action("BannerSlideShow", "News", new {numite=1,picturethumbsize=500 })
            </div>
        </div>
    </div>
</section>