@{Layout = "~/Views/Shared/_Root.Head.cshtml";}
<div class="ajax-loading-block-window" style="display: none">
    <div class="loading-image">
    </div>
</div>
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">        
        @Html.Partial("Header")       
        <div class="wrapper-content">
            @RenderBody()
        </div>
    </div>
    @Html.Action("Footer", "Common")
</div>