img{max-width:100%;max-height:100%;}
input,select{padding:6px;}
input.default,a.default{min-width:90px;background:#189b96;padding:8px;color:#fff;border:0;font-size:14px;cursor:pointer}
label.default{padding:8px;}
span.active{color:#F2C127;}
.main-background{background:#189b96 !important; color:#fff;}
.wrapper-body{width:90%;margin:0 auto;margin-bottom:20px;}
.wrapper-content{margin:0 2%;}
.title{display:inline-block;font-size:15px;color:#fff;background:#189b96;width:100%;}
.title-left{float:left;padding:8px;}
.title-right{float:right;padding:8px;}
.big-font{color:orange;font-size:20px;font-weight:600;margin-right:7px;width:19%;text-align:right;}
.currency{width:7%}
.postitem{cursor:pointer;color:#fff !important;}
.section .search input{padding:6px;}
.section .search{padding:10px 10px 10px 0px}
.section .search .default{min-width:90px;background:rgba(24, 155, 150, 1);padding:8px;color:#fff;border:0;font-size:14px;}
.section table{display:table;width:100%;background:#fff;border-collapse:collapse;border-spacing:0;border:1px solid #eaeaea;border-left:0;}
.section table.default tbody tr:hover{background:#c5f3ec !important;}
table tr{display:table-row;vertical-align:inherit;border-color:inherit;}
table th{border-left:1px #eaeaea solid; border-bottom:1px #eaeaea solid;}
table tbody{display: table-row-group;vertical-align:inherit;border-color:inherit;}
table tr td, table th{padding:8px;font-size:14px;line-height:14pt;vertical-align:top;border-left:1px #eaeaea solid;border-bottom:1px #eaeaea solid;}
table tr td p,table tr th p{margin:0;}
table tr th.active{background:#F2C127}
table.none-border, table.none-border tr, table.none-border tr td{border:none;}
table.none-border tr th:first-child{border-left:none;}
.section table tbody tr:nth-child(odd){background:#eeeeee;}
.section table.orange tbody tr:hover{background:#d0d959;}
.section table tbody tr td a{cursor:pointer;}
.bordered{border:1px #189b96 solid;}
.pointer {cursor:pointer;}
.section-left{float:left;width:69%;margin-right:1%}
.section-right{float:left;width:30%}
.section-left-search{float:left;width:75%;margin-right:1%}
.section-right-search{float:left;width:24%}
.section-right article aside{border-bottom:1px solid #189b96;padding-bottom:15px;margin-bottom:10px;}
.inline{display:inline-block;}
.dangtin{margin-top:20px;}
.div-group{margin-bottom:10px;}
.div-group .field-name{padding:8px;float:left;width:100px}
.div-group .box-radio{margin-left:112px;padding:5px 0;}
.news-content-preview{font-size:14px;}
.news-content-preview .news-title{color:#189b96;font-size:18px;font-weight:600;cursor:pointer;}
.info-small{font-size:11px;color:#A9A5A5;}
.info-small p{line-height:0;}
.info-small p span{margin-right:10%;}
.time-small{margin-left:0;}
.news-content-preview .content-preview{text-align:justify;}
img.icon-small{width:10px;margin:0 4px;}
#btnContinue{float:right;margin:15px 0;}
#description{min-width:250px;min-height:50px;}
#btnDangTin{margin-left:116px;}
/*search small*/
.search-box-small .box-search{width:auto;height:auto; margin-top: 10px; box-shadow: 0px 4px 10px #000;padding:10px}
.search-box-small .box-search .box-head{height:auto;}
.search-box-small .box-search .box-head p{margin:0;}
.search-box-small .box-search label{line-height:15px;}
.search-box-small .box-search .box-content{padding-left:0;padding-top:15px}
.search-box-small .box-search .box-content .col{float:none;width:auto;margin:0;padding:5px 30px 5px 10px}
.search-box-small .box-search .box-content .col .textbox{padding-left:8px;width:100%;}
.search-box-small .box-search .box-content .col span{width:30%;display:inline-block;margin-left:2%;}
.box-filter,.box-sort{border:1px solid #189b96;margin-bottom:5px;}
.box-filter .box-content,.box-sort .box-content{padding:10px 0;}
.box-filter .box-content p,.box-sort .box-content p{margin:0 0 5px 5px;}
.center{text-align:center;}
.search-box-small .box-search .box-content .col .textbox.center{width:85%; padding-left:0;}
.search-box-small .box-search .box-content .box-footer{margin-top:5px;float:none;padding-left:0;}
.search-box-small .box-search .box-content .box-footer span{display:inline-block;width:30%;margin-right:0;float:none;}
.info-filter p span{margin-right:7px;font-size:18px;color:#F2C127;}
.info-filter .info-title-search{font-size:20px;color:#4C8EE5;font-weight:700;}
.info-passenger p span{font-size:14px;margin-right:7px;}