@model TicketModel
<article>
    <aside>
        <div class="box-sort priceDetail">
            <div class="title box-head">
                <span class="title-left">Chi Tiết Giá</span>
            </div>
            <div class="detail">
                <h4><span>Giá cơ bản</span></h4>
                <div class="box-content">
                    @*@*<p><span>Người lớn</span> <span>@Model.Adult x @Model.BookingFlightPriceModels. VND</span></p>*@*@
                    <p><span>Trẻ em</span> <span>1 x 2,326,000 VND</span></p>
                    <p><span>Trẻ sơ sinh</span> <span>1 x 310,000 VND</span></p>
                </div>
                <h4><span>Thuế và phí</span></h4>
                <div class="box-content">
                    <p><span>Người lớn</span> <span>2 x 710,000 VND</span></p>
                    <p><span>Trẻ em</span> <span>1 x 2,554,000 VND</span></p>
                    <p><span>Trẻ sơ sinh</span> <span>1 x 272,000 VND</span></p>
                </div>
                <div class="box-content sumPrice">
                    <p><span>Tổng giá</span><span>11,820,000 VND</span></p>
                    <p><span>Hành lý thêm</span> <span>0 VND</span></p>
                    <p><span>Giảm giá</span> <span>-320,000 VND</span></p>
                </div>
                <div class="box-content sumPrice">
                    <p><span>TỔNG</span> <span>10,762,000 VND</span></p>
                </div>
            </div>
        </div>
    </aside>
    <aside>
        <div>
            <a class="default">Quay về trang kết quả</a>
        </div>
    </aside>
    <aside>
        <div class="guide">
            <h3>HƯỚNG DẪN</h3>
            <a href="#"><h4>Thanh toán</h4></a>
            <a href="#"><h4>Xem đơn hàng</h4></a>
            <a href="#"><h4>In vé điện tử</h4></a>
            <a href="#"><h4>Hướng dẫn đặt vé</h4></a>
        </div>
        <div>
            <h3>HOTLINE</h3>
            <h2>093.448.124</h2>
        </div>
        <div>
            <h3>Phương Thức Thanh Toán</h3>
            <h4>Tại văn phòng</h4>
            <h4>Tại nhà</h4>
            <h4>Online</h4>
        </div>
    </aside>
</article>
