@model PlanX.Web.Models.ClickBay.SearchModel
@{
    Html.AppendScriptParts(ResourceLocation.Foot, "~/Scripts/search.js");
    var listAdult = new List<SelectListItem>();
    for(int i=0; i<100;i++)
    {
        listAdult.Add(new SelectListItem{Value=i.ToString(), Text=i.ToString()});
    }
    var listInfant = new List<SelectListItem>();
    for (int i = 0; i < 5; i++)
    {
        listInfant.Add(new SelectListItem { Value = i.ToString(), Text = i.ToString() });
    }
}
<form action="@Url.RouteUrl("Search")" method="get" id="frmSearch">
    <div class="box-head">
        <span class="search-text">TÌM VÉ MÁY BAY</span>
        <span class="search-roundtrip">
            <input type="radio" name="Return" checked="checked" value="true"><label>Khứ hồi</label>
            <input type="radio" name="Return" value="false"><label>Một chiều</label>
        </span>
    </div>
    <div class="box-content">
        <div class="col">
            <label>Điểm đi</label><br>
            <span id="fromPlace" class="textbox">Hồ Chí Minh(SGN)</span><br>
            <input type="hidden" id="FromId" value="SGN" name="FromId" />
            <label>Ngày đi</label><br>
            <input id="From" name="DepartDate" type="text" class="textbox">
        </div>
        <div class="col">
            <label>Điểm đến</label><br>
            <span id="toPlace" class="textbox">Hà Nội(HAN)</span><br>
            <input type="hidden" name="ToId" value="HAN" id="ToId" />
            <div id="return-div">
                <label>Ngày về</label><br>
                <input id="To" name="ReturnDate" type="text" class="textbox">
            </div>
        </div>
        <div class="clear"></div>
        <div class="box-footer">
            <span>
                <label>Người lớn</label><br>
                @Html.DropDownListFor(x => x.Adult, listAdult, new { @class = "textbox center number" })
                <br /><label class="font-small">từ 12 tuổi</label>
            </span>
            <span>
                <label>Trẻ em</label>
                <br />
                @Html.DropDownListFor(x => x.Child, listAdult ,new { @class = "textbox center number"})
                <br />
                <label class="font-small">từ 2 đến 11 tuổi</label>
            </span>
            <span>
                <label>Trẻ sơ sinh</label><br />
                @Html.DropDownListFor(x => x.Flant, listInfant, new { @class = "textbox center number" })
                <br>
                <label class="font-small">dưới 2 tuổi</label>
            </span>
            <span>
                <input type="submit" class="btn-search" value="Tìm chuyến bay">
            </span>
        </div>

    </div>
</form>

<div id="dialog-form" class="dialog-form-contain">
    <div><p id="title-text" class="title"><span id="title-text-id">Chọn điểm đi</span><span style="float:right;"><a class="close" onclick="hidePopup()">X</a></span></p></div>    
    <div class="domestic-col">
        <ul>
            <li class="title">Miền Bắc </li>
            <li><a airportcode="HAN">Hà Nội<span> (HAN)</span> </a></li>
            <li><a airportcode="HPH">Hải Phòng<span> (HPH)</span> </a></li>
            <li><a airportcode="DIN">Điện Biên<span> (DIN)</span> </a></li>
        </ul>
    </div>
    <div class="domestic-col">
        <ul>
            <li class="title">Miền Trung </li>
            <li><a airportcode="THD">Thanh Hóa<span> (THD)</span> </a></li>
            <li><a airportcode="VII">Vinh<span> (VII)</span> </a></li>
            <li><a airportcode="HUI">Huế<span> (HUI)</span> </a></li>
            <li><a airportcode="VDH">Đồng Hới<span> (VDH)</span> </a></li>
            <li><a airportcode="DAD">Đà Nẵng<span> (DAD)</span> </a></li>
            <li><a airportcode="TMK">Tam Kỳ<span> (VCL)</span> </a></li>
            <li><a airportcode="PXU">Pleiku<span> (PXU)</span> </a></li>
            <li><a airportcode="TBB">Tuy Hòa<span> (TBB)</span> </a></li>
        </ul>
    </div>
    <div class="domestic-col">
        <ul>
            <li class="title">Miền Nam </li>
            <li><a airportcode="SGN">Hồ Chí Minh<span> (SGN)</span> </a></li>
            <li><a airportcode="CXR">Nha Trang<span> (CXR)</span> </a></li>
            <li><a airportcode="DLI">Đà Lạt <span> (DLI)</span> </a></li>
            <li><a airportcode="PQC">Phú Quốc<span> (PQC)</span> </a></li>
            <li><a airportcode="UIH">Qui Nhơn<span> (UIH)</span> </a></li>
            <li><a airportcode="VCA">Cần Thơ<span> (VCA)</span> </a></li>
            <li><a airportcode="VCS">Côn Đảo<span> (VCS)</span> </a></li>
            <li><a airportcode="BMV">Ban Mê Thuột<span>(BMV)</span> </a></li>
            <li><a airportcode="VKG">Rạch Giá <span> (VKG)</span> </a></li>
            <li><a airportcode="CAH">Cà Mau<span> (CAH)</span> </a></li>
        </ul>
    </div>
    @*<div class="internation-city">
            <h3 style="font-weight: bold; font-size: 13px;">
                Quốc tế
            </h3>
            <p>
                <b style="color: black; font-weight: bold">
                    Hãy nhập vào tên thành phố hoặc mã sân bay
                </b>
            </p>
            <p class="error-departure" style="color: red;">
                &nbsp;
            </p>
            <input id="small-searchterms" name="" type="text" autocomplete="off">
            <p>
               <input id="btncitySelect" class="default" value="Chọn" />
            </p>
        </div>*@

</div>
<script>
    $("#fromPlace,#toPlace").click(function () {
        openPopup($(this).attr("id"));
        var pos = $("#fromPlace").position();
        $("#dialog-form").css("left", pos.left + "px");
        CURRENT_TXT = $(this).attr("id");
    })
</script>
<style>
    .box-search {
        position: relative;
    }
</style>

