@model PlanX.Web.Models.ClickBay.SearchModel
@{Html.AppendScriptParts(ResourceLocation.Foot, "~/Scripts/search.js");}
<form action="@Url.RouteUrl("Search")" method="get" id="frmSearch">
    <div class="box-head">
        <span class="search-text">TÌM VÉ MÁY BAY</span>
        <span class="search-roundtrip">
            <input type="radio" name="Return" checked="checked" value="true"><label>Khứ hồi</label>
            <input type="radio" name="Return" value="false"><label>Một chiều</label>
        </span>
    </div>
    <div class="box-content">
        <div class="col">
            <label>Điểm đi</label><br>
            <span id="fromPlace" class="textbox">Hồ Chí Minh(SGN)</span><br>
            <input type="hidden" id="FromId" value="SGN" name="FromId" />
            <label>Ngày đi</label><br>
            <input id="From" name="DepartDate" type="text" class="textbox">
        </div>
        <div class="col">
            <label>Điểm đến</label><br>
            <span id="toPlace" class="textbox">Hà Nội(HAN)</span><br>
            <input type="hidden" name="ToId" value="HAN" id="ToId" />
            <div id="return-div">
                <label>Ngày về</label><br>
                <input id="To" name="ReturnDate" type="text" class="textbox">
            </div>
        </div>
        <div class="clear"></div>

        <div class="box-footer">
            <span>
                <label>Người lớn</label><br>
                @Html.TextBoxFor(x => x.Adult, new { @class = "textbox center number", maxlength = 3, Value = 1 })
                <br /><label class="font-small">từ 12 tuổi</label>
            </span>
            <span>
                <label>Trẻ em</label>
                <br />
                @Html.TextBoxFor(x => x.Child, new { @class = "textbox center number", maxlength = 3 })
                <br />
                <label class="font-small">từ 2 đến 11 tuổi</label>
            </span>
            <span>
                <label>Trẻ sơ sinh</label><br />
                @Html.TextBoxFor(x => x.Flant, new { @class = "textbox center number", maxlength = 3 })
                <br>
                <label class="font-small">dưới 2 tuổi</label>
            </span>
            <span>
                <input type="submit" class="btn-search" value="Tìm chuyến bay">
            </span>
        </div>

    </div>
</form>

<div id="dialog-form" class="dialog-form-contain">
    <div class="domestic-col">
        <ul>
            <li class="title">Miền Bắc </li>
            <li><a airportcode="HAN"><b>Hà Nội </b><span>(HAN)</span> </a></li>
            <li><a airportcode="HPH"><b>Hải Phòng</b> <span>(HPH)</span> </a></li>
            <li><a airportcode="DIN"><b>Điện Biên</b> <span>(DIN)</span> </a></li>
        </ul>
    </div>
    <div class="domestic-col">
        <ul>
            <li class="title">Miền Trung </li>
            <li><a airportcode="THD"><b>Thanh Hóa</b> <span>(THD)</span> </a></li>
            <li><a airportcode="VII"><b>Vinh</b> <span>(VII)</span> </a></li>
            <li><a airportcode="HUI"><b>Huế</b> <span>(HUI)</span> </a></li>
            <li><a airportcode="VDH"><b>Đồng Hới</b> <span>(VDH)</span> </a></li>
            <li><a airportcode="DAD"><b>Đà Nẵng</b> <span>(DAD)</span> </a></li>
            <li><a airportcode="TMK"><b>Tam Kỳ</b> <span>(VCL)</span> </a></li>
            <li><a airportcode="PXU"><b>Pleiku</b> <span>(PXU)</span> </a></li>
            <li><a airportcode="TBB"><b>Tuy Hòa</b> <span>(TBB)</span> </a></li>
        </ul>
    </div>
    <div class="domestic-col">
        <ul>
            <li class="title">Miền Nam </li>
            <li><a airportcode="SGN"><b>Hồ Chí Minh </b><span>(SGN)</span> </a></li>
            <li><a airportcode="CXR"><b>Nha Trang</b> <span>(CXR)</span> </a></li>
            <li><a airportcode="DLI"><b>Đà Lạt</b> <span>(DLI)</span> </a></li>
            <li><a airportcode="PQC"><b>Phú Quốc</b> <span>(PQC)</span> </a></li>
            <li><a airportcode="UIH"><b>Qui Nhơn</b> <span>(UIH)</span> </a></li>
            <li><a airportcode="VCA"><b>Cần Thơ</b> <span>(VCA)</span> </a></li>
            <li><a airportcode="VCS"><b>Côn Đảo</b> <span>(VCS)</span> </a></li>
            <li><a airportcode="BMV"><b>Ban Mê Thuột</b> <span>(BMV)</span> </a></li>
            <li><a airportcode="VKG"><b>Rạch Giá</b> <span>(VKG)</span> </a></li>
            <li><a airportcode="CAH"><b>Cà Mau</b> <span>(CAH)</span> </a></li>
        </ul>
    </div>
    @*<div class="internation-city">
            <h3 style="font-weight: bold; font-size: 13px;">
                Quốc tế
            </h3>
            <p>
                <b style="color: black; font-weight: bold">
                    Hãy nhập vào tên thành phố hoặc mã sân bay
                </b>
            </p>
            <p class="error-departure" style="color: red;">
                &nbsp;
            </p>
            <input id="small-searchterms" name="" type="text" autocomplete="off">
            <p>
               <input id="btncitySelect" class="default" value="Chọn" />
            </p>
        </div>*@

</div>

