@model int
@{
    ViewBag.Title = "InsertProductSuccess";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page">
    <div class="page-title">
      <h1>Gởi yêu cầu thành công</h1>
    </div>
    <div class="page-body">
        <p>
            Chúc mừng bạn đã gởi yêu cầu thành công đến zHouse.com.vn.
            Số ID yêu cẩu của bạn là:
            <b style="color:#d41212;font-size:16px">@Model</b>
            Nhân viên của chúng tôi sẽ liên hệ để duyệt yêu cầu của bạn trong vòng 24h.
            Cảm ơn bạn đã sử dụng dịch vụ của zHouse

        </p>
        <p>
            Chúng tôi hiểu rõ Bạn mong muốn

            GIAO DỊCH NHÀ ĐẤT
            AN TOÀN - HỢP PHÁP
            CHẾ ĐỘ HẬU MÃI DÀI LÂU
            THỦ TỤC PHÁP LÝ HOÀN CHỈNH
        </p>
        <p>
            House.com.vn chỉ nhận bán những căn nhà phù hợp với 6 tiêu chí vàng của zHouse

            - ĐẢM BẢO VỀ CHẤT LƯỢNG CÔNG TRÌNH.
            - PHÁP LÝ RÕ RÀNG.
            - KHÔNG NẰM TRONG VÙNG BỊ QUY HOẠCH, KHÔNG BỊ TRANH CHẤP.
            - SỔ HỒNG CÔNG CHỨNG SANG TÊN NGƯỜI MUA NGAY.
            - GIÁ CẢ HỢP LÝ.
            - MỌI GIAO DỊCH MUA BÁN TRÊN ZHOUSE ĐƯỢC ĐẢM BẢO AN TOÀN TUYỆT ĐỐI
        </p>
     
    </div>
</div>

