@model IDictionary<string,string>
<div class="breadcrumb">
    <p><span>Trang chủ</span>
    @foreach (var i in Model)
    {
        <img src="~/Themes/ClickBay/Content/images/forward-icon.png" class="icon-small"><span class="@i.Value">@i.Key</span>
    }
    </p>
</div>