@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
    Html.AppendCssFileParts("~/Themes/ClickBay/Content/StylesFull.css");
}
<div id="wrapper">
    @Html.Partial("_HeaderFull")    
    <div class="content">
        @RenderBody()
    </div>
    <div class="clear"></div>
    @Html.Partial("_Footer")
</div>
