<footer class="footer">
    <div class="container">
        <div style="padding-right:20px;">
            <ul>
                <li><span><a>Bản đồ</a></span></li>
                <li><span><a>Hỗ trợ khách hàng</a></span></li>
                <li><span><a>Thông tin liên hệ</a></span></li>
                <li><span>&copy; @DateTime.Now.Year ClickBay.com.vn</span></li>
            </ul>
        </div>        
    </div>
</footer>